@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}



body {
    background: #141a28;
    overflow-x: hidden;
}
.head-title {
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
.head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 40px 0 10px 0;
    color: #fff;
}

.table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}
.table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    margin:0 20px 0 300px;
    overflow-x: auto;
    height: 650px;
}
.table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}
.table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}
.table-data .head .bx {
    cursor: pointer;
}

.table-data .order {
    color: #fff;
    background: #1f2940;
    flex-grow: 1;
    flex-basis: 500px;
}
.table-data .order table {
    width: 100%;
    border-collapse: collapse;
}
.table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}
.table-data .order table td {
    padding: 16px 0;
}
.table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}
.table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}
.table-data .order table tr td .status.completed {
    background: var(--blue);
}
.table-data .order table tr td .status.process {
    background: var(--yellow);
}
.table-data .order table tr td .status.pending {
    background: var(--orange);
}


.table-data .todo {
    background: #1f2940;
    flex-grow: 1;
    flex-basis: 300px;
}
.table-data .todo .todo-list {
    width: 100%;
}
.table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-data .todo .todo-list li .bx {
    cursor: pointer;
}
.table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--blue);
}
.table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--orange);
}
.table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}
#accsearch{
    background-color: #1f2940;
    color: #3c91e6;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    font-size: 14px;
    padding: 0 3px;
}
#adminsearchBtn{
    background-color: #3c91e6;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    color: #fff;
}

#delete{
    height: 30px;
    width: 30px;
}

#delform{
    display: none;
}